body{
    
    background-image: url('https://r4.wallpaperflare.com/wallpaper/204/759/755/artwork-digital-art-abstract-simple-background-wallpaper-d9e0388de13a1ddb167788ef30f1b6cd.jpg');
    https://r4.wallpaperflare.com/wallpaper/142/751/831/landscape-anime-digital-art-fantasy-art-wallpaper-9b468c3dc3116f4905f43bc9cddc0cf0.jpg
}
.one{
    border-left: none;
    border-top: none;
}

.two{
    border-top: none;
}
.three{
    border-right: none;
    border-top: none;
}
.four{
    border-left : none;
}
.six{
    border-right : none;
}


.seven{
    border-left: none;
    border-bottom: none;
}

.eight{
    border-bottom: none;
}
.nine{
    border-right: none;
    border-bottom: none;
}

button{
    margin: 0px;
    height: 20vh;
    width: 20vh;
    background: transparent;
    font-family: c;
    font-size: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
    border-color: rgb(48, 42, 42);
    text-shadow: 3px 3px 10px rgb(177, 201, 199);
}
.Total{
    
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    background-color: transparent;
    text-align: center;
    transition: transform 0.5s;
    
}
.Total :hover{
    cursor: pointer;
    font-size: 22vh;
    text-shadow: 0.3vh 0.7vh 1vh white;

}
.Show{
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 5.5vh;
    color:rgb(189, 208, 219);
}
.Restart{
    margin: 0px;
    height: 8vh;
    width: 22vh;
    background: transparent;
    font-family: c;
    font-size: 3vh;
    text-align: center;
    display: flex;
    justify-content: space-e;
    align-items: center;
    color:rgb(37, 218, 13);
    border-color: rgb(48, 42, 42);
    text-shadow: none;
    border-radius: 3vh;
    cursor: pointer;
}
.Restart:hover{
    font-size: 3.4vh;
    height: 8.8vh;
    width: 24vh;
    background-color:red;
    color: black;
    border-color: white;
    border-width:  0.01vh;
}
.LastButton{
    display: flex;
    justify-content: space-evenly;
}
.TotalGrid{
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}
.Player1,.Player2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:3.5vh;
    font-weight: bold;
    color: rgb(154, 197, 194);
    font-style: italic;
}
