

.Box{
  height: 600px;
  width: 600px;
  background-color: red;

  display: flex;
  flex-direction: column;

}

.rows{
  height: 200px;
  width: 600px;
  background-color: yellow;
  border: 1px solid black;
  display: flex;
}

.smallBox{
  height: 200px;
  width: 200px;
  background-color: aqua;
  border: 1px solid black;
}